<div class="container-fluid">
  <p class="h3 p-3">{{ conferenciaDetail.name }}</p>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col">
      <dl>
        <dt>Fecha Inicio</dt>
        <dd>{{ conferenciaDetail.starts }}</dd>
        <hr />
        <dt>Fecha Fin</dt>
        <dd>{{ conferenciaDetail.ends }}</dd>
        <hr />
        <dt>Nombre</dt>
        <dd>{{ conferenciaDetail.name }}</dd>
        <hr />
        <dt>Descripción</dt>
        <dd>{{ conferenciaDetail.description }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>